<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<form th:action="@{/edit(id=${book.id})}" method="POST">
    <h1>Edit book:</h1>
        <input id="id" name="id" type="hidden" th:value="${book.id}" value="0"/>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" th:value="${book.name}" value="New Book"/>
        <label for="author">Author:</label>
        <input id="author" name="author.name" type="text" th:value="${book.author.name}" value="New Author"/>
        <label for="genre">Genre:</label>
        <input id="genre" name="genre.name" type="text" th:value="${book.genre.name}" value="New Genre"/>
        <button type="submit" name="method" th:value="save">Save</button>
        <a href="/"><button type="button">Cancel</button></a>
</form>
</body>
</html>
